canvas {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #bbada0;
}
.item {
  width: 550px;
  margin: 20px auto;
  height: 50px;
}
.item span {
  font-size: 20px;
  float: left;
  color: #776e65;
  font-weight: bold;
  margin-left: 20px;
}
.item span:first-child {
  margin-left: 0;
}
.item button {
  font-size: 20px;
  float: right;
  width: 120px;
  height: 40px;
  background: #bbada0;
  border: 0;
  color: #fff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 3px 1px #c7c1bb;
  cursor: pointer;
  outline: none;
}
.item button:hover {
  background: #a29c96;
}
/* 媒体查询：适配设备宽度小于等于600像素，针对微信浏览器 */
@media (max-width: 600px) {
  canvas {
    width: 100%;
    height: auto;
  }
  .item {
    width: 100%;
    margin: 10px auto;
    height: 30px;
  }
  .item span {
    font-size: 15px;
    margin-left: 10px;
  }
  .item button {
    font-size: 14px;
    width: 100px;
    height: 30px;
  }
}

